.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color_background);
  color: var(--color_letters);
  height: 70vh;
}

.content {
  display: flex;
  height: 33.5rem;
  width: 33.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: var(--secondary-color-gray);
  border-radius: 1rem;
}

.headerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1f4e37 0%, #00853b 50%, #00853b 100%);
  width: 25rem;
  height: 5.5rem;
  border-radius: 1rem;
}

.headerLogin img{
  height: 5rem;
}

.fieldsLogin {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inputsField {
  display: flex;
  flex-direction: column;
}

.inputsField label {
  font-size: 1.3rem;
}

.inputsField input {
  border: none;
  width: 23rem;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
  outline: none;
  background: transparent;
  color: var(--color_letters);
}

.textArea {
  border-bottom: 1px solid var(--primary-color-dark);
}

.btn button {
  width: 8.9rem;
  height: 2.5rem;
  background-color: var(--primary-color-green);
  color: var(--primary-color-light);
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.btn button:hover {
  transition: 0.5s ease-in-out;
  background-color: #00853b;
}

.waves img{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}