:root {
  /* Default Colors */
  --color_background: #fff;
  --color_letters: #000;
  --color_opacity_dark_light: rgba(0, 0, 0, 0.5);
  --primary-color-light: #fff;
  --primary-color-green: #00a84a;
  --primary-color-gray: #485156;
  --secondary-color-gray: #e9e9e9;
  --primary-color-red: #FF0000;
  /* Padding Geral */
  --padding-geral: 0 10rem;
  /* Default Font Sizes */
  --font-title: 2.5rem;
  --font-sub-title: 1.5rem;
  --font-paragraph-and-links: 1rem;
  --font-footer-p: 0.8rem;
}

[data-theme="dark"]{
  --color_background: #222222;
  --color_letters: #fff;
  --color_opacity_dark_light: rgba(255,255,255,0.5);
  --primary-color-gray: #fff;
  --secondary-color-gray: #434242;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}